body.page-book .navbar {
  background: #FFC697;
}

.book-cover img {
  background: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.17);
  border-radius: 3px;
  border: 8px solid #fff;
}
.book-info {
  overflow: auto;
}
.book-author {
  font-size: 18px;
  color: rgba(51,51,51,0.50);
}
.book-description {
  margin: 10px 0;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.7);
}
.book-fields span {
  display: inline-block;
  margin-right: 40px;
}

.book-info a.btn {
  border: 0;
  background: #d9dee2;
  color: #333;
  font-weight: 500;
  margin-top: 10px;
}
.book-info a.btn.btn-unsave {
  background: #ffebeb;
  margin-top: 10px;
}
.book-info a.btn.btn-unsave:hover {
  background: #fdb5b5;
}
.book-info a.btn:hover {
  background: #ccd6e0;
}