{% extends "bootstrap/base.html" %}

{% block title %}Book Catalogue{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.raty.css') }}">

{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="/static/images/logo.svg" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.books') }}">Books</a></li>
                <li><a href="{{ url_for('main.explore') }}">Explore</a></li>
            </ul>

            <form class="navbar-form navbar-left" role="search" action="{{ url_for('main.books_search') }}" method=post>
              <div class="form-group">
                <input class="form-control" id="isbn" name="isbn" type="text" placeholder="Search ISBN" required="true">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              </div>
              <button type="submit" id="submit" name="submit" class=""><img src="/static/images/search.svg" /></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="img-rounded" src="/static/img/{{ current_user.profile_image}}" width="30px" />
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.user', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('user.edit_profile') }}">Edit Profile</a></li>
                        <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('user.login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if current_user.is_administrator() %}
                <li><a href="/admin">Admin</a></li>
                {% endif %}
            </ul>
        </div>
        {% block page_title %}{% endblock page_title %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type=text/javascript src="{{
  url_for('static', filename='js/jquery.raty.js') }}"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='js/jquery.timeago.js') }}"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
